<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table>

    {% for restaurant in restaurantData %}
    <tr>
        <td>{{restaurant.name}}</td>
        <td><a id="{{restaurant.name}}" href="javascript:toggle('{{restaurant.name}}');">+</a></td>
    </tr>
    <tr style="display: none" id="{{restaurant.name}}_div">
        <td>    <p>    Phone: {{restaurant.phone}} <br />
                       Email: {{restaurant.email}} <br />
                       Hours: {{restaurant.hours}} <br />
                       Price Range: {{restaurant.pricerange}} <br />
                       Address: {{restaurant.streetNo}}, {{restaurant.city}} {{restaurant.zip}} <br />
                       Delivery: {{restaurant.deliveryFlag}} <br />
                       Outdoor Seating: {{restaurant.outdoorsFlag}}
                </p></td>
    </tr>
    {% endfor %}
</table>

    <script language="javascript">
    function toggle(restaurantName) {
    	var ele = document.getElementById(restaurantName + "_div");
    	var text = document.getElementById(restaurantName);
    	if(ele.style.display == "block") {
        		ele.style.display = "none";
    		text.innerHTML = "+";
      	}
    	else {
    		ele.style.display = "block";
    		text.innerHTML = "-";
    	}
    }
    </script>

</body>
</html>